@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

/* General Styles */
* {
    box-sizing: border-box;
}

.flex {
    display: flex;
}

.btn {
    cursor: pointer;
}

body {
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.486) url(./Images/bg.045edac4468e3ab87a833664e263f543.jpg) no-repeat center;
    background-blend-mode: overlay;
    background-size: cover;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: white;
    margin: 0;
    padding: 0 4em;
}

/* Header */

.header_section {
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2em;
}

.main_title_container {
    align-items: center;
    gap: 0.5em;
}

.main_title {
    font-size: 2.2rem;
}

.header_icon {
    height: 50%;
    width: 2em;
}

.main_search_bar_container {
    min-width: 40%;
    align-items: center;
    border-bottom: 1px solid white;
}

.main_search_bar {
    height: 2.5em;
    min-width: 92%;
    border: none;
    border-radius: 30px;
    padding-left: 0.5em;
    font-size: 1.1rem;
    color: #eee;
    background-color: rgba(0,0,0,0);   
}

.main_search_bar {
    outline: none;
}


/* Middle Section */

.main_section {
    padding: 0 4em;
}

.middle_section {
    justify-content: space-between;
    padding-bottom: 2em;
}

    /* Left Side */

.middle_section_left_side_gap {
    padding-bottom: 1.5em;
}

.region_info {
    margin: 0;
}

.region_info_main_title {
    font-size: 2.5rem;
}

.region_info_country {
    font-size: 1rem;
}

.daytime_info {
    margin: 0;
}

.current_weather {
    font-size: 3.5rem;
    margin: 0;
}

.current_weather_icon {
    width: 80%;
    height: 120px;
}

.weather_description {
    margin: 0;
}

.main_right_side_icon {
    width: 100px;
    height: 100px;
}

    /* Right Side */

.main_right_side_container {
    align-items: center;
}

.main_right_side_info {
    margin: 0.3em 0;
}


/* Lower Section */

.main_bottom {
    justify-content: space-between;
    text-align: center;
}

.weather_days {
    width: 11.5em
}

.weather_days_title {
    font-size: 1.5rem;
    margin-bottom: 0.6em;
}

.weather_days_weather_min_max_container {
    font-size: 1rem;
}

.weather_days_weather_min_max {
    margin: 0.2em;
}